3/node-red
[{"id":"4b412a0a.e2fc64","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4ef27384.8dd7f4","type":"tcp in","z":"4b412a0a.e2fc64","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":205,"y":161,"wires":[["1c8ad77.1c8f229"]]},{"id":"2ebf7803.17b368","type":"debug","z":"4b412a0a.e2fc64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1000,"y":299,"wires":[]},{"id":"fd07ee6.533229","type":"inject","z":"4b412a0a.e2fc64","name":"","topic":"","payload":"1,0,1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":211,"y":46,"wires":[[]]},{"id":"1c8ad77.1c8f229","type":"function","z":"4b412a0a.e2fc64","name":"","func":"msg.topic = \"channels/1727206/publish\"\n\nvar a = parseInt(msg.payload.split(\",\")[0]);\nvar b = parseInt(msg.payload.split(\",\")[1]);\nvar c = parseInt(msg.payload.split(\",\")[2]);\nmsg.payload = \"field1=\"+a+\"&field2=\"+b+\"&field3=\"+c;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":717,"y":161,"wires":[["2ebf7803.17b368","6034d607.d2ec","605b67cd.f3c01"]]},{"id":"f4c895e4.3ab02","type":"ui_chart","z":"4b412a0a.e2fc64","name":"","group":"f7001132.c6e78","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1154,"y":46,"wires":[[],[]]},{"id":"f3869547.74af08","type":"mqtt out","z":"4b412a0a.e2fc64","name":"","topic":"","qos":"","retain":"","broker":"d9a0a712.1a56","x":1269,"y":161,"wires":[]},{"id":"6034d607.d2ec","type":"delay","z":"4b412a0a.e2fc64","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":161,"wires":[["f3869547.74af08"]]},{"id":"605b67cd.f3c01","type":"delay","z":"4b412a0a.e2fc64","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":931,"y":46,"wires":[["f4c895e4.3ab02"]]},{"id":"f7001132.c6e78","type":"ui_group","z":"","name":"Default","tab":"d8b4017a.7a744","disp":true,"width":"6","collapse":false},{"id":"d9a0a712.1a56","type":"mqtt-broker","z":"","name":"","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"HCgSEwMxLQw2HBIaAjUhDCM","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d8b4017a.7a744","type":"ui_tab","z":"","name":"RSSI","icon":"dashboard","order":1}]
