3/node-red
[{"id":"4b412a0a.e2fc64","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4ef27384.8dd7f4","type":"tcp in","z":"4b412a0a.e2fc64","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":205,"y":161,"wires":[["1c8ad77.1c8f229"]]},{"id":"2ebf7803.17b368","type":"debug","z":"4b412a0a.e2fc64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1000,"y":299,"wires":[]},{"id":"1c8ad77.1c8f229","type":"function","z":"4b412a0a.e2fc64","name":"","func":"msg.topic = \"channels/1727206/publish\"\n\nvar a = parseInt(msg.payload.split(\",\")[0]); //led 2\nvar b = parseInt(msg.payload.split(\",\")[1]); //led 1\nvar c = parseInt(msg.payload.split(\",\")[2]); //led 0\nmsg.payload = \"field1=\"+c+\"&field2=\"+b+\"&field3=\"+a;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":717,"y":161,"wires":[["2ebf7803.17b368","6034d607.d2ec"]]},{"id":"f3869547.74af08","type":"mqtt out","z":"4b412a0a.e2fc64","name":"","topic":"","qos":"","retain":"","broker":"d9a0a712.1a56","x":1269,"y":161,"wires":[]},{"id":"6034d607.d2ec","type":"delay","z":"4b412a0a.e2fc64","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":161,"wires":[["f3869547.74af08"]]},{"id":"d9a0a712.1a56","type":"mqtt-broker","z":"","name":"","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"HCgSEwMxLQw2HBIaAjUhDCM","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
