2/flow.json
[{"id":"582081cd.3cd02","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e60c783.f00d68","type":"inject","z":"582081cd.3cd02","name":"","topic":"","payload":"","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["9f1990db.c1b6a"]]},{"id":"9f1990db.c1b6a","type":"file in","z":"582081cd.3cd02","name":"File","filename":"/home/user/Desktop/iot-feeds.csv","format":"lines","chunk":false,"sendError":false,"x":390,"y":240,"wires":[["d8da4be9.a16818"]]},{"id":"d8da4be9.a16818","type":"csv","z":"582081cd.3cd02","name":"","sep":",","hdrin":false,"hdrout":"","multi":"one","ret":"\\n","temp":"code,field1,field2,field3,field4,field5,field6,field7","skip":"0","x":590,"y":240,"wires":[["15e065c7.aa268a","5b617e90.b84e9"]]},{"id":"15e065c7.aa268a","type":"function","z":"582081cd.3cd02","name":"Function1","func":"if(msg.payload.code <= 4842 && msg.payload.code >= 4742) \n{\n    msg.topic = \"channels/1712151/publish\"\n    msg.payload = \"field1=\"+msg.payload.field1+\"&field2=\"+msg.payload.field2+\"&field5=\"+msg.payload.field5;\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["65a50156.af137"]]},{"id":"65a50156.af137","type":"delay","z":"582081cd.3cd02","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":360,"wires":[["ad20c96d.4142a8"]]},{"id":"ad20c96d.4142a8","type":"mqtt out","z":"582081cd.3cd02","name":"","topic":"","qos":"","retain":"","broker":"cad33a32.67845","x":1110,"y":440,"wires":[]},{"id":"ca1221c1.cd9cc8","type":"ui_chart","z":"582081cd.3cd02","name":"","group":"9cd410a9.77d088","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1210,"y":320,"wires":[[],[]]},{"id":"5b617e90.b84e9","type":"function","z":"582081cd.3cd02","name":"Function2","func":"if(msg.payload.code <= 4842 && msg.payload.code >= 4742) \n{\n    msg.payload = msg.payload.field5;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":810,"y":240,"wires":[["fe60d1e5.e7a86"]]},{"id":"fe60d1e5.e7a86","type":"delay","z":"582081cd.3cd02","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":280,"wires":[["ca1221c1.cd9cc8"]]},{"id":"cad33a32.67845","type":"mqtt-broker","z":"","name":"","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"KR8MIiA5GjULMg8DBwsNLTU","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9cd410a9.77d088","type":"ui_group","z":"","name":"Default","tab":"40ebd5ca.3f694c","disp":true,"width":"6","collapse":false},{"id":"40ebd5ca.3f694c","type":"ui_tab","z":"","name":"RSSI","icon":"dashboard","order":1}]